/* ==========================================================================
   5. Single Post - When you click on an individual post
   ========================================================================== */
.post {
    &-template .post {
        margin-top: 0;
        border-bottom: none;
        padding-bottom: 0;
        padding-top: 30px;
        &:after {
            display: none;
        }
        &-header {
            padding: 45px 0;
            background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.75))), url("../schaltkreise.jpg");
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.75)), url("../schaltkreise.jpg");
            background-size: cover;
            background-position: 50% 70%;
            background-repeat: no-repeat;
        }
    }
    &-content img {
        display: block;
        max-width: 100%;
        margin: 1em auto 0;
    }
    &-footer {
        position: relative;
        margin: 4rem 0 0 0;
        padding: 4rem 0 0 0;
        border-top: $border 1px solid;
        h4 {
            font-size: 1.8rem;
            margin: 0;
        }
        p {
            margin: 1rem 0;
            font-size: 1.4rem;
            line-height: 1.6em;
        }
        .author {
            margin-right: 180px;
        }
    }
}
