.site-nav {
    ul {
        padding: 0;
        
        li {
            //display: inline-block;
            list-style: none;
            //margin:  0px 20px 0px 20px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    .post-header & {
        text-align:  center;
    }
}
